<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RMS</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
</head>
<body>
<header>
    <!-- Navigation Bar -->
    <nav id="navbar" class="navbar navbar-expand-lg bg-nav rounded fixed-top">
        <div class="container">
            <ul class="navbar navbar-left">
                <li><a href="/">Начало</a></li>
                <!--                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/users/add">Добави служител</a></li>-->
                <!--                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/users/view-all">виж всички служители</a></li>-->
                <!--                // по-добре да е някакъв admin panel...-->
                <!--                <li>-->
                <!--                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">-->
                <!--                        <button class="nav-link bg-transparent border-0 h5" type="button" id="dropdownMenuButton"-->
                <!--                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--                            Admin Panel-->
                <!--                        </button>-->
                <!--                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                <!--                            <a class="dropdown-item" href="/statistics">Statistics</a>-->
                <!--                            <a class="dropdown-item" href="/articles/add">Add article</a>-->
                <!--                            <a class="dropdown-item" href="#">Something else here</a>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </li>-->
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a href="#"><span>Admin Panel</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li class="dropdown"><a href="#"><span>Потребители</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="#">Виж всички клиенти</a></li>
                                <li><a href="#">Виж служителите</a></li>
<!--                                <li><a href="#">Намери служител</a></li>-->
                            </ul>
                        </li>
                        <li><a href="#">Статистика</a></li>
                        <li class="dropdown"><a href="#"><span>Поддръжка</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="#">Освободи всички маси</a></li>
                                <li><a href="#">Добави нова маса</a></li>
                                <li><a href="#">Спри сайта за 1 час</a></li>
                                <li><a href="#">Пусни сайта</a></li>
                            </ul>
                        </li>
<!--                        <li><a href="#">Drop Down 4</a></li>-->
                    </ul>
                </li>
                <!--                <li><a href="#chefs">Chefs</a></li>-->
                <li><a href="/view/reviews">отзиви от клиенти</a></li>
            </ul>
            <ul class="navbar navbar-right">
                <li>
                    <div sec:authorize="isAuthenticated()"
                         class="welcome"
                         style="color: #1a1ac9;
                    font-size: 16px;
                    font-weight: 700"
                    >
                        Здравей
                        <th:block sec:authentication="name"></th:block>
                    </div>
                </li>
                <li sec:authorize="!isAuthenticated()"><a href="/users/login">Вход</a></li>
                </li>
                <li sec:authorize="!isAuthenticated()"><a href="/users/register">Регистрация</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/users/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button id="logout-btn" type="submit" class="nav-link bg-transparent border-0 h5">
                            Изход
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav><!-- .navbar -->
</header>
<footer id="footer" class="footer">
    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div>
                    <h4>Адрес</h4>
                    <p>
                        Потумец, <br>
                        Тъбъдъпково, България<br>
                    </p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>За резервации</h4>
                    <p>
                        <strong>Телефон:</strong> +359 888 123 456<br>
                        <strong>Email:</strong> info@pripesho.com<br>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Работно време</h4>
                    <p>
                        <strong>Пон-Съб:</strong>16:30 - 23:00<br>
                        Неделя: почивен ден
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Follow Us</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><img src="/images/soc-media/twitter-logo-2429.png"><i
                            class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><img src="/images/soc-media/facebook-2870.png"><i
                            class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><img src="/images/soc-media/instagram-logo-8869.png"><i
                            class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><img src="/images/soc-media/linkedin-logo-2430.png"><i
                            class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Restaurant management system</span></strong>. All Rights Reserved
        </div>
        <br>
        <div class="credits">
            "Focused, hard work is the real key to success" - John Carmack
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->
</body>
</html>