<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RMS</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded ">
        <a class="nav-link my-text-color active h5 " href="/">Начало</a>

        <a class="nav-link my-text-color active h5  " href="/users/add">Добави служител</a>
        <a class="nav-link my-text-color active h5  " href="/users/view-all">виж всички служители</a>
        <a class="nav-link my-text-color active h5  " href="/view/reviews">отзиви</a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link active h5 my-text-color" href="/users/login">Вход</a>
                </li>

                <li class="nav-item col-md-4">
                    <a class="nav-link my-text-color active h5 " href="/users/register">Регистрация</a>
                </li>
                <div class="nav-link h5 my-text-color">Добре дошъл,
                    <th:block sec:authentication="name">!</th:block>
                </div>
                <li class="nav-item col-md-4">
                    <form th:action="@{/users/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit" class="nav-link bg-transparent text-danger border-0 h5">Изход</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 my-text-color">
            &copy; Restaurant management system 2023. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>