<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <section id="error403" class="hero d-flex align-items-center section-bg">
        <div class="container">
            <h1 style="text-align: center;">Нямате права да достъпите страницата!</h1>
            <br>
            <h1 style="text-align: center;">Проверете дали няма някаква грешка в изписването</h1>
            <br>
            <h2 style="text-align: center;">Ако искате да отидете на началаната страница, натиснете <a href="/">ТУК</a>
            </h2>
            <h3 style="text-align: center;">Отговорните лица са осведомени за проблема</h3>
        </div>
    </section>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>