<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body th:class="${nightModeClass} ? ${nightModeClass} : ${''}">
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div id="review">
        <div class="container">
            <div id="review-row" class="row justify-content-center align-items-center">
                <div id="review-column" class="col-md-6">
                    <div id="review-box" class="col-md-12">
                        <form id="review-form" class="form"
                              th:method="POST"
                              th:action="@{/reviews/add}"
                              th:object="${reviewDTO}">
                            <h3 class="text-center text-info">Моля попълнете:</h3>
<!--                            <input type="hidden" th:field="*{username}" th:value="${username}" />-->
                            <br>
                            <div class="form-group">
                                <label for="content" class="text-info">Описание:</label><br>
                                <textarea th:field="*{content}" rows="4" cols="50" required
                                          th:errorclass="bg-danger"
                                          type="text" id="content" class="form-control"></textarea>
                            </div>
                            <small th:if="${#fields.hasErrors('content')}" th:errors="*{content}"
                                   class="text-danger">Content error message</small>


                            <div class="form-group">
                                <label for="score" class="text-info">Оценка от 1 до 5:</label><br>
                                <input th:field="*{score}" min="1" max="5" required
                                       type="number" id="score" class="form-control">
                            </div>
                            <div class="form-group button-holder d-flex justify-content-center">
                                <input type="submit" name="submit" class="btn btn-info btn-md justify-content-center" value="Добави отзив">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>