<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body th:class="${nightModeClass} ? ${nightModeClass} : ${''}">
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                        <small th:if="${errorMessage}"
                               id="login-error-msg"
                               class="text-danger h2 d-flex justify-content-center align-items-center">Въведена е невалидна комбинация от потребителско име и парола!</small>

                        <form id="login-form" class="form"
                                  th:method="POST"
                                  th:action="@{/users/login}"
                                  th:object="${loginDTO}">
                            <h3 class="text-center text-info">За вход, моля въведете</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Потребителско име:</label><br>
                                <input th:field="*{username}"
                                       required minlength="3" maxlength="20"
                                       th:errorclass="bg-danger"
                                       type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Парола:</label><br>
                                <input th:field="*{password}"
                                       required minlength="3" maxlength="20"
                                       th:errorclass="bg-danger"
                                       type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group button-holder d-flex justify-content-center">
                                <input type="submit" name="submit" class="btn btn-info btn-md justify-content-center" value="Вход">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    PREVIOUS FORM !!!-->
<!--    =======================-->
<!--    <div class="container">-->
<!--    <div style="padding: 20px"></div>-->
<!--    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Вход</span></h1>-->
<!--    <hr class="hr-3 w-25 bg-white"/>-->
<!--    <form class="mx-auto w-25 bg-blur"-->
<!--          th:method="POST"-->
<!--          th:action="@{/users/login}"-->
<!--          th:object="${loginDTO}">-->

<!--        &lt;!&ndash;    Example: Render errors messages with fields.errors - you can make it differently. &ndash;&gt;-->
<!--        &lt;!&ndash;    <div th:each="error: ${#fields.errors()}" th:text="${error}" class="text-danger">Error messages</div>&ndash;&gt;-->
<!--        <th:block th:each="e : ${#fields.errors()}" th:object="${e}">-->
<!--            <small th:text="${e}" class="text-danger">Error messages</small>-->
<!--            <br>-->
<!--        </th:block>-->
<!--        <th:block th:each="e : ${#fields.errors()}" th:object="${e}">-->
<!--            <small th:text="${e}" class="text-danger">Error messages</small>-->
<!--            <br>-->
<!--        </th:block>-->
<!--                <small th:if="${errorMessage}"-->
<!--                        class="text-danger h2">Incorrect username or password!</small>-->

<!--        <div class="form-group">-->
<!--            <div class="label-holder text-white d-flex justify-content-center">-->
<!--                <label for="username" class="h3 mb-2">Потребителско име</label>-->
<!--            </div>-->
<!--            <input th:field="*{username}"-->
<!--                   th:errorclass="bg-danger"-->
<!--                   type="text" class="form-control" id="username" name="username"/>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <div class="label-holder text-white d-flex justify-content-center">-->
<!--                <label for="password" class="h3 mb-2">Парола</label>-->
<!--            </div>-->
<!--            <input th:field="*{password}"-->
<!--                   th:errorclass="bg-danger"-->
<!--                   type="password" class="form-control" id="password" name="password"/>-->
<!--        </div>-->

<!--        <div class="button-holder d-flex justify-content-center">-->
<!--            <button type="submit" class="btn btn-warning  mb-3">Вход</button>-->
<!--        </div>-->

<!--    </form>-->
<!--    <hr>-->
<!--    ==============================-->

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
