<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h3>Който от храна разбира,</h3>
        <h1 class="text-success" >"при бай Пешо"</h1>
        <h3> се спира</h3>
        <hr class="my-3 bg-white w-50"/>
        <p class="h4">
            Моля
            <a class="text-primary" href="/users/login">Влезте</a>
            в профила си или се
            <a class="text-primary" href="/users/register">Регистрирайте</a>
            , за да достъпите менюто, да резервирате маса и да направите поръчка
            <br>
        <hr class="my-3 bg-white w-75"/>
        <h3>
            Също така можете да прочетете
            <a class="text-primary" href="/reviews">отзиви</a>
            от нашите клиенти!
            </p>
        </h3>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>