<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body th:class="${nightModeClass} ? ${nightModeClass} : ${''}">
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <style>
        table {
            border-collapse: collapse;
            width: 90%;
            padding: 50px;
            margin: 50px;
        }

        th, td {
            border: 1px solid #bf00ff;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #c7add5;
        }
    </style>

    <h2>История на успешните логвания</h2>

    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>дата</th>
            <th>час</th>
            <th>статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${allLogsOrderedByTime}">
            <td th:text="${log.getUsername()}"></td>
            <td th:text="${log.getDate()}"></td>
            <td th:text="${log.getTime()}"></td>
            <td th:text="${log.getStatus()}"></td>
        </tr>
        </tbody>
    </table>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
