<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
<!--    <title>RMS</title>-->
<!--    <link rel="stylesheet" type="text/css" href="/css/reset-css.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>-->
<!--    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">-->
<!--    <link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>-->
<!--</head>-->
<!--<body>-->
<!--<header th:replace="~{fragments/commons::nav}"></header>-->
<!--<main>-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->
    <h1 class="text-center" style="color: #ce1212; text-align: center; font-size: xxx-large">В момента сайта се обновява.</h1>
    <br>
    <h1 class="text-center" style="color: #ce1212; text-align: center">Моля заповядайте по-късно</h1>
    <br>
<!--    <div class="maintenance-image-container">-->
<!--        <img src="../static/images/maintenance.jpg" alt="maintenance image"-->
<!--             style="display: flex; align-items: center; justify-content: center">-->
<!--    </div>-->
<!--    <br>-->
<!--    <br>-->

<!--</main>-->
<!--<footer th:replace="~{fragments/commons::footer}"></footer>-->
<!--</body>-->
<!--</html>-->