<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <br>
    <br>
    <br>
    <br>
    <h2 class="text-center">В момента сайта се обновява.</h2>
    <br>
    <h2 class="text-center">Моля заповядайте по-късно</h2>
    <br>
    <div class="maintenance-image-container">
        <img src="images/maintenance.jpg" alt="maintenance image"
             style="display: flex; align-items: center; justify-content: center">
    </div>
    <br>
    <br>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>