<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Maintenance</title>
    <style>
        body {
            background-color: #f4f4f4;
            font-family: 'Arial', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: #ce1212;
            font-size: 2em;
            margin-bottom: 10px;
        }

        p {
            color: #ce1212;
            text-align: center;
        }
    </style>
</head>

<body>
<h1>В момента сайта се обновява.</h1>
<p>Моля заповядайте по-късно.</p>
</body>

</html>
